<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask to-do app</title>
  {{ bootstrap.load_css() }}
</head>
{% from 'bootstrap5/form.html' import render_form %}
<body>
  <div class="d-flex flex-column align-items-center justify-content-center" data-bs-theme="dark">
    <div class="d-flex flex-column align-items-center justify-content-center" style="width: 50vw">
      <h1 style="margin: 40px">Flask to-do app</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">To-do</th>
            <th scope="col">Created at</th>
            <th scope="col">Due date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
        <tr>
          <th scope="row">{{ todo.id }}</th>
          <td>{{ todo.todo }}</td>
          <td>{{ todo.created_at }}</td>
          <td>{{ todo.due_date }}</td>
          <td><a href="{{ url_for('delete_todo', todo_id=todo.id) }}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="container" style="margin: 30px">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ render_form(form, novalidate=True) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ bootstrap.load_js() }}
</body>
</html>